<!-- <label class="field field--radio">
  <input class="field__input" type="radio" name="plan" value="basic" data-ww-input />
  <span class="field__control"></span>
  <span class="field__label">
    Basic plan
  </span>
</label> -->

<div class="options">
  <label class="options__item">
    <input class="options__input" type="radio" name="delivery" value="nova" checked />
    <span class="options__label">
      <span class="options__text">Nova Poshta</span>
    </span>
  </label>

  <label class="options__item">
    <input class="options__input" type="radio" name="delivery" value="courier" />
    <span class="options__label">
      <span class="options__text">Courier</span>
    </span>
  </label>
</div>