<div data-ww-marquee data-group="hero" data-direction="left">
  <div class="marquee__inner">
    <div class="marquee__item">Sync 1</div>
  </div>
</div>

<div data-ww-marquee data-group="hero" data-direction="up">
  <div class="marquee__inner">
    <div class="marquee__item">Sync 2</div>
  </div>
</div>

<div data-ww-marquee data-group="hero" data-direction="right">
  <div class="marquee__inner">
    <div class="marquee__item">Sync 3</div>
  </div>
</div>

<!-- <div data-ww-marquee data-module="effectsMarquee" data-speed="160" data-direction="right">

  <div class="marquee__inner">
    <div class="marquee__item">VT-3000 running smooth</div>
    <div class="marquee__item">Sky loves you 💙</div>
  </div>

</div> -->