<!-- Мінімальний HTML(READONLY)
<div class="rating" data-rating="4">
  <div class="rating__items">
    <div class="rating__item rating__item--active"></div>
    <div class="rating__item rating__item--active"></div>
    <div class="rating__item rating__item--active"></div>
    <div class="rating__item rating__item--active"></div>
    <div class="rating__item"></div>
  </div>
</div> -->


<div class="rating" data-rating="set">
  <div class="rating__items">
    <label class="rating__item">
      <input class="rating__input" type="radio" name="rating" value="1">
    </label>
    <label class="rating__item">
      <input class="rating__input" type="radio" name="rating" value="2">
    </label>
    <label class="rating__item">
      <input class="rating__input" type="radio" name="rating" value="3">
    </label>
    <label class="rating__item">
      <input class="rating__input" type="radio" name="rating" value="4">
    </label>
    <label class="rating__item">
      <input class="rating__input" type="radio" name="rating" value="5">
    </label>
  </div>
</div>