<!-- src\components\layout\spollers\spollers.html -->
<div class="spollers" data-ww-spollers data-ww-spollers-one>
  <div class="spollers__item">
    <button class="spollers__title" type="button">
      Spoller #1
    </button>
    <div class="spollers__body">
      Контент першого спойлера
    </div>
  </div>

  <div class="spollers__item">
    <button class="spollers__title" type="button">
      Spoller #2
    </button>
    <div class="spollers__body">
      Контент другого спойлера
    </div>
  </div>

  <div class="spollers__item">
    <button class="spollers__title" type="button">
      Spoller #3
    </button>
    <div class="spollers__body">
      Контент третього спойлера
    </div>
  </div>
</div>