<div class="showmore" data-ww-showmore="size" data-ww-showmore-content="160" data-ww-showmore>
  <div class="showmore__content" data-ww-showmore-content>
    Довгий текст…
  </div>

  <button class="showmore__btn" data-ww-showmore-btn>
    Показати більше
  </button>
</div>


<!-- <div class="showmore" data-ww-showmore="items" data-ww-showmore-content="3" data-ww-showmore>
  <ul class="showmore__content" data-ww-showmore-content>
    <li>Елемент 1</li>
    <li>Елемент 2</li>
    <li>Елемент 3</li>
    <li>Елемент 4</li>
  </ul>

  <button class="showmore__btn" data-ww-showmore-btn>
    Показати більше
  </button>
</div> -->