<!-- src/components/layout/header/header.html -->

<header class="header" data-ww-header>
  <div class="header__container container">

    <if condition="'[[home]]' === 'true'">
      <span class="header__logo">VT-3000</span>

      <else>
        <a href="index.html" class="header__logo">VT-3000</a>
      </else>
    </if>

    <!-- Desktop menu -->
    <nav class="header__nav header__nav--desktop">
      <ul>
        <each src="@components/layout/menu/menu.json" loop="item">
          <if condition="'[[active]]' === '[[item.id]]'">
            <span class="is-active">[[item.label]]</span>

            <else>
              <a href="[[item.href]]">[[item.label]]</a>
            </else>
          </if>
        </each>
      </ul>
    </nav>

    <div class="header__actions">
      <button class="theme-toggle" data-theme-toggle>🌙</button>
      <button class="menu-toggle" type="button" data-ww-menu-open>
        <span class="menu-toggle__bar"></span>
      </button>
    </div>

  </div>

  <include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
</header>