<!-- src/components/layout/header/header.html -->

<header class="header" data-ww-header>
  <div class="header__container container">

    <if condition="'[[home]]' === 'true'">
      <span class="header__logo">VT-3000</span>

      <else>
        <a href="index.html" class="header__logo">VT-3000</a>
      </else>
    </if>

    <!-- Desktop menu -->
    <nav class="header__nav header__nav--desktop">
      <ul class="menu__list">

        <!-- Home -->
        <li>
          <a class="menu__link" href="/index.html">Home</a>
        </li>

        <!-- Work -->
        <li class="has-submenu">
          <a class="menu__link" href="/work.html">
            Work
            <button class="menu__arrow" type="button" aria-label="Open submenu"></button>
          </a>

          <ul class="menu__sublist">
            <li>
              <a href="/work-team.html">Team</a>
            </li>
            <li class="has-submenu">
              <a href="/work-cases.html">Cases</a>
              <button class="menu__arrow" type="button" aria-label="Open submenu"></button>

              <ul class="menu__sublist">
                <li>
                  <a href="/work-cases.html">All cases</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Contacts -->
        <li class="has-submenu">
          <a class="menu__link" href="/contacts.html">
            Contacts
            <button class="menu__arrow" type="button" aria-label="Open submenu"></button>
          </a>

          <ul class="menu__sublist">
            <li>
              <a href="/contacts-support.html">Support</a>
            </li>
            <li>
              <a href="/contacts-map.html">Map</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>

    <div class="header__actions">
      <button class="theme-toggle" data-theme-toggle>🌙</button>
      <button class="menu-toggle" type="button" data-ww-menu-open>
        <span class="menu-toggle__bar"></span>
      </button>
    </div>

    <include src="@components/layout/menu/menu.html" locals='{"active":"[[active]]"}'></include>
  </div>

</header>