<section class="dev-block">
  <h2>Checkbox</h2>

  <label class="checkbox">
    <input class="checkbox__input" type="checkbox" checked />
    <span class="checkbox__label">
      <span class="checkbox__text">Subscribe to newsletter</span>
    </span>
  </label>

  <label class="checkbox">
    <input class="checkbox__input" type="checkbox" />
    <span class="checkbox__label">
      <span class="checkbox__text">Accept terms</span>
    </span>
  </label>

  <pre><code>
&lt;label class="checkbox"&gt;
  &lt;input type="checkbox"&gt;
  &lt;span class="checkbox__label"&gt;
    &lt;span class="checkbox__text"&gt;Text&lt;/span&gt;
  &lt;/span&gt;
&lt;/label&gt;
  </code></pre>
</section>