<section class="dev-block">
  <h2>Mansory</h2>
  <p>Колонковий masonry layout (CSS-only).</p>

  <div class="mansory">
    <div class="mansory__item">A<br />short</div>
    <div class="mansory__item">B<br />longer<br />content<br />here</div>
    <div class="mansory__item">C</div>
    <div class="mansory__item">D<br />very<br />very<br />long<br />content</div>
    <div class="mansory__item">E</div>
  </div>

  <pre><code>&lt;div class="mansory"&gt;
  &lt;div class="mansory__item"&gt;…&lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>