<h2>Сторінки</h2>
<ul class="dev-pages__list">
  <li><a href="/index.html" data-page="index.html">index.html</a></li>
  <li><a href="/contacts-map.html" data-page="contacts-map.html">contacts-map.html</a></li>
  <li><a href="/contacts-support.html" data-page="contacts-support.html">contacts-support.html</a></li>
  <li><a href="/contacts.html" data-page="contacts.html">contacts.html</a></li>
  <li><a href="/dev-root.html" data-page="dev-root.html">dev-root.html</a></li>
  <li><a href="/work-cases.html" data-page="work-cases.html">work-cases.html</a></li>
  <li><a href="/work-team.html" data-page="work-team.html">work-team.html</a></li>
  <li><a href="/work.html" data-page="work.html">work.html</a></li>
</ul>