<section class="dev-block">
  <h2>Pagging</h2>

  <nav class="pagging" data-module="pagging">
    <button class="pagging__arrow">←</button>

    <ul class="pagging__list">
      <li><button class="pagging__item _active">1</button></li>
      <li><button class="pagging__item">2</button></li>
      <li><button class="pagging__item">3</button></li>
    </ul>

    <button class="pagging__arrow">→</button>
  </nav>

  <pre><code>
&lt;nav class="pagging"&gt;
  &lt;ul class="pagging__list"&gt;
    &lt;li&gt;...&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
  </code></pre>
</section>