<section class="dev-block">
  <h2>Quantity</h2>

  <div class="quantity" data-ww-quantity>
    <button class="quantity__button quantity__button--minus"></button>
    <div class="quantity__input">
      <input type="number" value="1" min="1" />
    </div>
    <button class="quantity__button quantity__button--plus"></button>
  </div>

  <pre><code>
&lt;div class="quantity" data-ww-quantity&gt;
  &lt;button class="quantity__button--minus"&gt;&lt;/button&gt;
  &lt;input type="number" value="1"&gt;
  &lt;button class="quantity__button--plus"&gt;&lt;/button&gt;
&lt;/div&gt;
  </code></pre>
</section>