<section class="dev-block">
  <h2>Radio / Options</h2>

  <div class="options">
    <label class="options__item">
      <input class="options__input" type="radio" name="theme" checked />
      <span class="options__label">
        <span class="options__text">Light</span>
      </span>
    </label>

    <label class="options__item">
      <input class="options__input" type="radio" name="theme" />
      <span class="options__label">
        <span class="options__text">Dark</span>
      </span>
    </label>
  </div>

  <pre><code>
&lt;div class="options"&gt;
  &lt;label class="options__item"&gt;
    &lt;input type="radio" name="x"&gt;
    &lt;span class="options__label"&gt;
      &lt;span class="options__text"&gt;Option&lt;/span&gt;
    &lt;/span&gt;
  &lt;/label&gt;
&lt;/div&gt;
  </code></pre>
</section>