<section class="dev-block">
  <h2>Rating</h2>

  <div class="rating" data-rating="set">
    <div class="rating__items">
      <label class="rating__item">
        <input class="rating__input" type="radio" name="dev-rating" value="1">
      </label>
      <label class="rating__item">
        <input class="rating__input" type="radio" name="dev-rating" value="2">
      </label>
      <label class="rating__item">
        <input class="rating__input" type="radio" name="dev-rating" value="3">
      </label>
      <label class="rating__item">
        <input class="rating__input" type="radio" name="dev-rating" value="4">
      </label>
      <label class="rating__item">
        <input class="rating__input" type="radio" name="dev-rating" value="5">
      </label>
    </div>
  </div>

  <pre><code>&lt;div class="rating" data-rating="set"&gt;…&lt;/div&gt;</code></pre>
</section>