<section class="dev-block">
  <h2>Select</h2>

  <div class="select" data-ww-select>
    <div class="select__body">
      <button class="select__title" type="button">
        <span class="select__value">
          <span class="select__content">Choose option</span>
        </span>
      </button>

      <div class="select__options">
        <button class="select__option">One</button>
        <button class="select__option">Two</button>
        <button class="select__option">Three</button>
      </div>
    </div>
  </div>

  <pre><code>&lt;div class="select" data-ww-select&gt;…&lt;/div&gt;</code></pre>
</section>