<section class="dev-block">
  <h3>Tabs — demo</h3>

  <div class="tabs" data-ww-tabs data-ww-tabs-spoller="768,max">

    <div class="tabs__header">
      <button data-ww-tabs-title class="is-active">UI Design</button>
      <button data-ww-tabs-title>Frontend</button>
      <button data-ww-tabs-title>Workflow</button>
    </div>

    <div class="tabs__body">

      <div data-ww-tabs-panel class="is-active">
        Panel #1 — текст про UI
      </div>

      <div data-ww-tabs-panel>
        Panel #2 — текст про frontend
      </div>

      <div data-ww-tabs-panel>
        Panel #3 — текст про workflow
      </div>

    </div>
  </div>

</section>