.menu {
  position: fixed;
  inset: 0;
  z-index: 1000;
  pointer-events: none;

  .menu__list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.menu__link--active {
  position: relative;
  color: #fff; // або твій main accent

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }

}

.menu.is-open {
  pointer-events: auto;
}

.menu .is-active,
.header__nav .is-active {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: default;
  pointer-events: none;
  opacity: 0.9;
}

/* panel */
.menu__panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 70vw;
  max-width: 360px;
  height: 100%;
  background: #111;
  color: #fff;
  transform: translateX(-100%);
  transition: transform .35s ease;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.menu.is-open .menu__panel {
  transform: translateX(0);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .55);
  opacity: 0;
  pointer-events: none;
  transition: opacity .25s;
  z-index: 900;
}

.overlay.is-active {
  opacity: 1;
  pointer-events: auto;
}

html.body-locked,
body.body-locked {
  overflow: hidden;
}

/* SUBMENUS (mobile) */
.has-submenu {
  display: flex;
  flex-direction: column;
}

.menu__arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  width: 16px;
  height: 16px;
  position: relative;
  transition: transform .3s ease;


  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    transition: transform .3s ease;
  }
}

.has-submenu.is-open>.menu__arrow::before {
  transform: rotate(-135deg);
}

.has-submenu.is-open>.menu__sublist {
  max-height: 500px;
  opacity: 1;
}

/* =========================
DESKTOP SUBMENU INTERACTION
========================= */
@media (min-width: 768px) {
  .header__nav .has-submenu {
    display: inline-flex;
    align-items: center;
  }

  .header__nav .has-submenu>a {
    display: inline-block;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
  }

  .header__nav .menu__sublist a:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

/* =========================
SUBMENUS — MOBILE ONLY
========================= */
@media (max-width: 767.98px) {
  .has-submenu {
    display: flex;
    flex-direction: column;
  }

  .menu__sublist {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding-left: 16px;
    transition: max-height .35s ease, opacity .25s ease;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .has-submenu.is-open>.menu__sublist {
    max-height: 500px;
    opacity: 1;
  }
}