<!-- ←←← src\components\layout\menu\menu.simple.html →→→ -->
<div class="menu" data-ww-menu aria-hidden="true">
  <div class="menu__panel">

    <div class="menu__top">
      <span class="menu__logo">VT-3000</span>
      <button class="menu__close" data-ww-menu-close>✕</button>
    </div>
    <nav class="menu__body">
      <ul class="menu__list">

        <each loop='item in [
        {"id":"home","href":"/index.html","label":"Home"},
        {"id":"work","href":"/work.html","label":"Work"},
        {"id":"contacts","href":"/contacts.html","label":"Contacts"}
      ]'>

          <if condition="'[[active]]' === '[[item.id]]'">
            <li class="menu__item">
              <a href="[[item.href]]" class="menu__link menu__link--active">
                [[item.label]]
              </a>
            </li>
            <else>
              <li class="menu__item">
                <a href="[[item.href]]" class="menu__link">
                  [[item.label]]
                </a>
              </li>
            </else>
          </if>

        </each>

      </ul>
    </nav>


  </div>
</div>

<div class="overlay" data-ww-overlay hidden></div>