<!-- ←←← src\components\layout\menu\menu.dynamic.html →→→ -->
<div class="menu" data-ww-menu aria-hidden="true">
  <div class="menu__panel">

    <div class="menu__top">
      <span class="menu__logo">VT-3000</span>
      <button class="menu__close" data-ww-menu-close>✕</button>
    </div>

    <!-- DESKTOP -->
    <ul class="menu__list" data-ww-menu-desktop-list></ul>

    <!-- MOBILE -->
    <ul class="menu__list menu__list--mobile" data-ww-menu-mobile-list></ul>

  </div>
</div>

<div class="overlay" data-ww-overlay hidden></div>