<section class="gallery" data-module="gallery">
  <div class="gallery__grid">
    <a href="/assets/img/cover/cover.webp" class="gallery__item">
      <img src="/assets/img/cover/cover-600.webp" alt="Gallery image" />
    </a>

    <a href="/assets/img/cover/cover.webp" class="gallery__item">
      <img src="/assets/img/cover/cover-600.webp" alt="Gallery image" />
    </a>

    <a href="/assets/img/cover/cover.webp" class="gallery__item">
      <img src="/assets/img/cover/cover-600.webp" alt="Gallery image" />
    </a>
  </div>
</section>