<div class="select" data-ww-select>
  <div class="select__body">
    <button type="button" class="select__title" aria-haspopup="listbox" aria-expanded="false">
      <span class="select__value">
        <span class="select__content">Choose option</span>
      </span>
    </button>

    <div class="select__options" role="listbox">
      <button class="select__option" type="button" data-value="1">Option 1</button>
      <button class="select__option" type="button" data-value="2">Option 2</button>
      <button class="select__option" type="button" data-value="3">Option 3</button>
    </div>
  </div>
</div>