// src\styles\mixins\_optional-adaptive.scss
@use "sass:math";

// ⚠ OPTIONAL PACK
// Heavy responsive helper – use only when necessary
// adaptiveValue(property, start, min)

@mixin adaptiveValue($property,
  $startSize,
  $minSize,
  $widthFrom: 1440,
  $widthTo: 360) {
  $slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
  $y: -$widthTo * $slope + $minSize;

  #{$property}: clamp(#{$minSize}px,
    #{$y}px + #{$slope * 100}vw,
    #{$startSize}px);
}