/* src/styles/base/_null.scss */
@use "../vars" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  display: inline-block;
}

/* Document */
html,
body {
  height: 100%;
  min-width: #{$minWidth}px;
}

html.lock,
body.lock {
  overflow: hidden;
}

body {
  color: $darkColor;
  font-family: $fontFamily;
  font-size: #{$fontSize}px;
  background-color: $mainColor;
}

body {
  scrollbar-gutter: stable;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

/* Media */
img,
video {
  max-width: 100%;
  display: block;
  vertical-align: middle;
}



/* Links & lists */
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}